#
# OCNE Deployment Tool
#
# Copyright (c) 2020,2021 Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
# Description: Ansible password file that is used to store
# OLVM engine admin user password and
# the new password to set for the VMs created.
#
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
#
# yamllint disable

# Add the OLVM and root password for VMs here.

---

olvm_password: your_olvm_admin_passwd
vm_root_passwd: your_vm_root_passwd
